.header {
  background: $off-black;
  color: #fff;
  margin-bottom: $m-size;
  padding: $m-size 0;
}

// BEM: Block Element Modifier naming convention
// Block === header (the thing the elements live inside)
// Element === individual piece inside the block (like an h1, p, etc.)
// Modifier === defining a different version of the normal styles (see button.scss)
.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
